/*! WinUI | Copyright 2019 Yogensia | GNU GPLv3 | https://win.yogensia.com/ */

// Variables
$baseline           : 28px;
$color-accent       : rgba(118, 185, 237, 1);
$color-primary-link : #fff;
$font-family-body   : "Open Sans", Arial, sans-serif;
$font-family-heading: "Open Sans", Arial, sans-serif;
$font-size-body     : 14px;

$shadow-base        : 0 2px 2px 0    rgba(0, 0, 0, .14),
                      0 3px 1px -2px rgba(0, 0, 0, .2),
                      0 1px 5px 0    rgba(0, 0, 0, .12);
$shadow-lifted      : 0 8px 10px 1px rgba(0, 0, 0, .14),
                      0 3px 14px 2px rgba(0, 0, 0, .12),
                      0 5px 5px -3px rgba(0, 0, 0, .2);

$transition-all-3   : 0.2s cubic-bezier(0.19, 1, .22, 1);
$transition-all-6   : 0.6s cubic-bezier(0.19, 1, .22, 1);


// Base Elements
html {
  box-sizing: border-box;
  user-select: none;
  -webkit-user-drag: none;
}

// https://www.paulirish.com/2012/box-sizing-border-box-ftw/
*, *:before, *:after {
  box-sizing: inherit;
  -webkit-user-drag: inherit;
}

body {
  color: #fff;
  font-family: $font-family-body;
  font-size: $font-size-body;
  line-height: $baseline;
  -webkit-font-smoothing: antialiased;
}

p {
  margin: 0 0 $baseline;
}

a {
  color: $color-primary-link;
}

blockquote {
  background: #fafafa;
  border-left: 3px solid $color-primary-link;
  margin: $baseline 0;
  padding: $baseline;
}

blockquote p:last-child {
  margin-bottom: 0;
}

::selection {
  background: $color-primary-link;
  color: #fff;
}


// Grid
.container {
	display: flex;
	margin-left: 0;
	margin-right: auto;
	width: 1140px;
	max-width: 100%;
}

.row {
	display: flex;
	margin-left: -$baseline;
	margin-right: -$baseline;
	width: 100%;
}

.col {
	flex: 1 0 auto;
  align-items: center;
  padding-left: 48px;
  padding-right: 48px;
}


// Helper classes
.align-left {
  float: left;
  margin: 0 $baseline $baseline 0;
}

.align-right {
  float: right;
  margin: 0 0 $baseline $baseline;
}

.align-center {
  clear: both;
  display: block;
  margin-left: auto;
  margin-right: auto;
}


// Desktop
#desktop {
  background: #0b8cea url(../img/desktop-backgrounds/windows-blue.jpg) center;
  padding: 10px;
  height: 100vh;
}


// Desktop Icons
#desktop-icons {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;

  li {
    border: 1px solid rgba(0, 0, 0, .0);
    display: inline-block;
    text-align: center;
    margin: 10px;
    padding: 10px;

    img {
      width: 92px;
      height: 92px;
    }

    span {
      display: block;
      line-height: 16px;
      text-shadow: 0 1px 3px rgba(0, 0, 0, .75);
    }
  }

  li:hover {
    background-color: rgba(118, 185, 237, .65);
    border: 1px solid rgba(118, 185, 237, 1);
    border-radius: 3px;
  }
}


// Taskbar
#taskbar-container {
  background: #101010;
  color: #e5e5e5;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden;
  height: 40px;
}

#taskbar {
  list-style: none;
  margin: 0;
  padding: 0;

  li {
    display: block;
    float: left;
    margin: 0 1px 0 0;
    padding: 8px 12px;
    position: relative;
    width: 48px;

    img {
      display: block;
      width: 24px;
      height: 24px;
    }
  }

  li:hover {
    background-color: rgba(255, 255, 255, 0.1);
  }

  li.active {
    background-color: rgba(255, 255, 255, 0.15);
  }

  li.open b {
    background-color: $color-accent;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 40px;
    height: 2px;
    margin: 0 4px;
    transition: $transition-all-3;
  }

  li.active b,
  li:hover b {
    width: 48px;
    margin: 0;
  }

  #start-menu-button {
    margin: 0 3px 0 0;
  }
}

// Tray
#tray {
  float: right;
  list-style: none;
  margin: 0;
  padding: 0;

  li {
    font-size: 14px;
    float: left;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    padding: 0 6px;
  }

  li:hover {
    background-color: rgba(255, 255, 255, 0.1);
  }

  .clock {
    text-align: center;
    font-size: 12px;
    line-height: 18px;
  }

  .notifications {
    width: 40px;
  }

  .show-desktop {
    background-color: rgba(255, 255, 255, 0.05);
    padding: 0 4px;
  }

  .show-desktop:hover {
    background-color: rgba(255, 255, 255, 0.1);
  }
}

.fas {
  font-size: 18px;
}


// Media Queries
@media (min-width: 1440px) {
}
